version: '3.7'
services:
  large-app-proxy:
    image: nginx:1.17-alpine
    container_name: large-app-proxy
    volumes:
      - ./nginx/proxy/conf/proxy.conf:/etc/nginx/conf.d/default.conf:ro
    restart: always
    network_mode: host
    extra_hosts:
      - "vm-host.mechcloud.lab:10.0.2.2"
  large-app-plugin1:
    image: nginx:1.17-alpine
    container_name: large-app-plugin1
    volumes:
      - ~/git-repos/large-app-plugin1/default.conf:/etc/nginx/conf.d/default.conf:ro
      - ~/git-repos/large-app-plugin1/dist:/usr/share/nginx/html
    restart: always
    network_mode: host
    extra_hosts:
      - "vm-host.mechcloud.lab:10.0.2.2"